

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#firstdiv
{
    margin-top: -15px;
    height: 420px;
    padding: 15px;
    width: 100%;
    align-items: center;
    /* border:2px solid black; */
    background-color: #dfecec;
    
}
#firstdiv1
{
    margin-top: -15px;
    height: 420px;
    padding: 15px;
    width: 100%;
    align-items: center;
    /* border:2px solid black; */
    /* background-color: #dfecec; */
    
}
#formss1{
    margin-top: 20px;
    width: 90%;
  }
#seconddiv
{
    border:1px solid black;
    height: 350px;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #568f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
#modelss{
    /* border:2px solid black; */
    height: 315px;
    width: 350px;
    background-color: #dfecec;
    border-radius: 25px;
}
#formss{
  margin-top: 42px;
  width: 90%;
}
#formsss{
    width: 90%;
}
#options{
    width: 90%;
    height: 60px;
  }
#btn{
    height: 40px;
}
#usercreate{
    height: 35px;
    width:178px;
    border: 2px solid black;
    margin-top: 25px;
    border-radius: 15px;
    padding-top: 5px;
    background-color:#95b0ea;
    color: white;
}
#usercreat{
    
    height: 35px;
    width:230px;
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 15px;
    background-color:#95b0ea;
    color: white;
    padding-top: 5px;
}
#usercreate:hover{
        background-color: beige;
        color: rgb(169, 111, 111);
}
#usercreatemain{
    height: 400px;
    /* border: 2px solid black; */
    margin-bottom: 18px;
    
}
#usercreatesecond{
    border: 2px solid black;
    width: 370px;
    height: 400px;
    border-radius: 15px;
    background-color: #b4c4e7;
    
}
#usersection11{
    border: 2px solid black;
    height: 430px;
    border-radius: 15px;
    /* overflow-y: hidden; */
}
#usersection1{
    /* border: 2px solid black; */
    /* margin-bottom: 15px; */
}
#usersection2{
    /* border: 2px solid black; */
    
}
#usersection3{
    /* border: 2px solid black; */
    width:400px;
    height: 400px;
    /* margin-top: 15px; */
    border-radius: 15px;
    background-color: #748181;
    color: white;
    display: flex;
}
#usersection4{
    margin-top: 15px;
    margin-left: 55px;
    text-align: center;
}
#usercreate1{
    height: 35px;
    width:178px;
    border: 2px solid black;
    margin-top: 15px;
    padding-top: 5px;
    border-radius: 15px;
    background-color:#95b0ea;
    color: white;
}
#usercreate1:hover{
        background-color: beige;
        color: rgb(169, 111, 111);
}
#AssignTask{
    border: 2px solid black;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius:10px;
    background-color: rgb(192, 252, 192);
}
#AssignTask:hover{
    background-color: black;
    color: white;
}
#AssignTask1{
    text-decoration:none;
    /* color: black; */
}
#AssignTask1:hover{
    color: white;
}
#formsss111{
    /* border: 2px solid beige; */
  display: flex;
  justify-content: center;
  gap: 10px;
}
#formsss11{
    width: 90%;
    height: 58px;
    margin-bottom: 3.5px;
}
#form121{
    height:40px ;
}
#descript{
    height: 125px;
}
#formstatus{
    /* border: 2px solid black; */
    height: 400px;
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#img1{
    border: 2px solid black;
    height: 100px;
    width: 210px;
    margin-top: 25px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#img2{
    height: 100px;
    width: 210px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: contain;
    
    background-position: center;
    background-repeat: no-repeat;
}
#bgpic1{
    border: 2px solid black;
    margin-bottom: 15px;
    border-radius: 15px;
    background-image: url("../Images/coding1.jpeg");
    width: 430px;
    margin-left: 15px;
}
#usercreatemain11{
    margin-top: 15px;
    margin-bottom: 15px;
}
#outlett{
 /* border:2px solid black; */
 height: 430px;
 overflow-y: scroll;
 border-radius: 15px;

 /* background-image: url("../Images/coding1.jpeg"); */
}
#phto1{
    /* border: 2px solid black; */
    margin-bottom: 15px;
    width: 320px;
    display: flex;
    justify-content: space-around;
    margin-left: -22px;

}
#formphoto{
    width: 100px;
}
#divimg{
    background-position:center;
    background-repeat:  no-repeat;;
    background-size: cover;

    /* back */
}